@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-krona {
  font-family: "Krona One", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.root {
  color: #0f0d0e !important;
}
body {
  background-color: white;
}
/* For the underline */
.ant-tabs-ink-bar {
  background-color: #121212 !important;
}

/* For the tab button text color */
.ant-tabs-tab-btn {
  color: #121212 !important;
  font-size: large;
}

/* For the active tab text color */
.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #121212 !important;
  font-weight: 900;
  font-size: large;
}

/* For hover or focus states */
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-btn:hover {
  color: #121212 !important;
}

.ant-tabs-nav {
  border-bottom: 2px solid black !important; /* Change the color and thickness of the divider */
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs .ant-tabs-tab-btn {
  font-family: "Krona One", sans-serif;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: bolder;
  background-color: #fef08a;
}

.grid-background {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #e3e2e2 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Hide scrollbar track and arrows, only show thumb */
.scrollbar-thin {
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
  scrollbar-width: none; /* For Firefox */
}

/* For Webkit browsers (Chrome, Safari, etc.) */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px; /* Set the height for horizontal scrollbar */
  background: transparent; /* Hide the background of the scrollbar */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #333; /* Color of the thumb (the draggable part) */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Remove the track completely */
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Make the track completely invisible */
}

/* Remove the arrows completely */
.scrollbar-thin::-webkit-scrollbar-button {
  display: none; /* Hide the arrows on the scrollbar */
}
